.menu{
	font-weight: bold;
	font-size: 24px; 
	width: 100%;
	background-color: pink;
	color: white;
	font-family: 'Playfair Display', serif;
	text-align: center;
}
.blog-title{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.blog-entry{
	font-family: 'Playfair Display', serif;
	text-align: center;
	border-style: solid;
	border-color: grey;
	border-radius: 5px;
}